* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

.container {
  height: 70%;
  width: 70%;
  background-image: url(calendar.PNG);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px;
  padding: 40px;
}

img {
  height: 150px;
  display: inline-block;
}

.aug {
  padding-left: 545px;
}
